.tblCenter{
    text-align: center;
}
.tblContent{
    height: 150px;
    border: 1px solid;
}
.txtDate{
    text-align: end;
    font-weight: lighter;
    color: darkgray;
}
.tblHeader{
    height: 50px;
    border: 1px solid;
}
.txtHeader{
    font-size: larger;
    line-height: 40px;
}