@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&effect=shadow-multiple');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
*{
  background-color: #ffe1c9;
  text-align: center;
}

.App{
  margin: auto;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  font-family: 'Patrick Hand';
}
.gambar{
  height: 200px;
  width: 200px;
}
.num{
  font-weight: bold;
  font-size: xx-large;
}

.btnz{
  line-height: 40px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  font-family : 'Open Sans Condensed';
  font-size: x-large;
}

.btnz:hover{
  background-color: #FFB77D;
}